<div>
  <div class="menu"></div>
  <div>
    <div class="menu-left"></div>
    <div class="container">
      <div id="panzoom-element">
        <app-element [scale]="panzoom.getScale()" [oldScale]="oldScale" text="Seu Madruga" [translate]="{x: 80, y: 207}"></app-element>
        <app-element [scale]="panzoom.getScale()" [oldScale]="oldScale" text="Seu Barriga" [translate]="{x: 596, y: 22}"></app-element>
        <app-element [scale]="panzoom.getScale()" [oldScale]="oldScale" text="Professor Jirafales" [translate]="{x: 642, y: 453}"></app-element>
        <app-element [scale]="panzoom.getScale()" [oldScale]="oldScale" text="Chaves" [translate]="{x: 379, y: 114}"></app-element>
        <app-element [scale]="panzoom.getScale()" [oldScale]="oldScale" text="Quico" [translate]="{x: 16, y: 447}"></app-element>
        <app-element [scale]="panzoom.getScale()" [oldScale]="oldScale" text="Chiquinha" [translate]="{x: 30, y: 9}"></app-element>
      </div>
    </div>
    <div class="menu-right"></div>
  </div>
</div>
